[Unit]
Description=Pusblisher bot
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /opt/publisher_bot/main.py
[Install]
WantedBy=multi-user.target